* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    min-height: 100dvh;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    text-wrap: balance;
}

h1 {
    font-size: $h1-font-size;
    font-weight: $font-weight-bold;
}

h2 {
    font-size: $h2-font-size;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

li {
    list-style: none;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}