// Colors
$primary-color: #0062E0;
$featured-green: #25B700;
$black: #000000;
$white: #FFFFFF;
$info-white: #F2F4FF;
$light-gray: #F6F7F8;
$lighter-gray: #EDEFF180;
$light-blue: #CBDFF8;
$lighter-blue: #CCE0F9;
$gray: #D9DBE9;
$lignt-gray: #F8F9FD;
$linear-gradient: linear-gradient(0deg, #0094FF 0%, #0062E0 100%);
$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
$box-shadow-last: 0px 5px 16px rgba(8, 15, 52, 0.06);

// Fonts
$base-font-family: "League Spartan", sans-serif;
$heading-font-family: "League Spartan", sans-serif;
$secondary-font-family: "Helvetica Neue", sans-serif;

// Font Sizes
$base-font-size: 1.6rem;
$small-font-size: 1.4rem;
$h1-font-size: 4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.2rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

